{{template "header.html" .}}
    <!-- パスワード再登録画面 -->
    <main id="regist">
        <form>
            <div id="regist-box" class="col-md-8 col-sm-11">
                <div id="regist-box-container">
                    <h2 class="myform-group  mb-5">パスワード再入登録</h2>
                    <input type="hidden" value="サーバで発行したワンタイムトークンをしこむ" name="token">
                    <div class="myform-group mb-4">
                        <label for="mail">メールアドレス</label>
                        <input id="mail" type="text" placeholder="">
                    </div>
                    <div class="myform-group  mb-4">
                        <label for="password">パスワード</label>
                        <input id="password" type="password">
                    </div>
                    <div class="myform-group  mb-4">
                        <label for="re-password">パスワード（再入力）</label>
                        <input id="re-password" type="password">
                    </div>
                    <button class="myform-group btn btn-primary" type="submit">再発行</button>
                </div>
            </div>
        </form>
    </main>
{{template "footer.html" .}}