{{template "header.html" .}}
    <!-- パスワード再発行依頼画面 -->
    <main id="regist">
        <form>
            <div id="regist-box" class="col-md-8 col-sm-11">
                <div id="regist-box-container">
                    <h2 class="myform-group  mb-5">パスワード再発行申請</h2>
                    <div class="myform-group mb-4">
                        <label for="mail">メールアドレス</label>
                        <input id="mail" type="text" placeholder="">
                    </div>
                    <button class="myform-group btn btn-primary" type="submit">申請</button>
                </div>
            </div>
        </form>
    </main>
{{template "footer.html" .}}