{{template "header.html" .}}
    <!-- 本情報表示 -->
    <main>
        <form class="form-horizontal" action="/book/update" method="POST" enctype="multipart/form-data">
            <label>現在の画像</label>
            <div class="d-flex">
                <img class="img-thumbnail col-6" style="max-height: 400px;" src="{{.Book.FrontCoverImagePath}}">
                <div id="preview" class="img-thumbnail col-6" style="max-height: 400px;"></div>
            </div>
            <input name="Id" type="hidden" value="{{.Book.ID}}">
            <input name="FrontCoverImagePath" type="hidden" value="{{.Book.FrontCoverImagePath}}">

            {{ if .ErrMsg}}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {{range $msg := .ErrMsg}}
                    <li>{{$msg}}</li>
                    {{end}}
                    </ul>
                </div>
            {{ end }}

            {{ if .SucMsg}}
                <div class="alert alert-success" role="alert">
                    <ul>
                    {{range $msg := .SucMsg}}
                    <li>{{$msg}}</li>
                    {{end}}
                    </ul>
                </div>
            {{ end }}
            <div class="form-group">
                <label class="col-3 control-label">※タイトル：</label>
                <div class="col-8">
                    <input class="form-control" 　type="text" name="Title" value="{{.Book.Title}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-3 control-label">※著者：</label>
                <div class="col-8">
                    <input class="form-control" 　type="text" name="Author" value="{{.Book.Author}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-3 control-label">※所持最新巻数：</label>
                <div class="col-8">
                    <input class="form-control" type="tel" name="LatestIssue" value="{{.Book.LatestIssue}}">
                </div>
            </div>
            <div class="form-group">
            <label class="col-3 control-label">表紙画像：</label>
            <div class="input-group">
                <div class="col-8">
                <input type="text" class="form-control" readonly="">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        画像選択<input type="file" name="NewFrontCoverImagePath" style="display:none">
                    </span>
                </label>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="col-offset-8 col-2">
                    <input class="btn btn-success" type="submit" value="更新する">
                </div>
            </div>
        </form>

        <form method="POST" action="/book/delete">
            <input name="Id" type="hidden" value="{{.Book.ID}}">
            <a href="/book" class="btn btn-secondary">戻る</a>
            <button class="btn btn-danger" type="submit">削除する</button>
        </form>
    </main>

{{template "footer.html" .}}