{{template "header.html" .}}
    <!-- ホーム画面 -->
    <main>
        <article id="login">
            <div id="container">
                <div class="col-sm-6">
                     <p id="catch-phrase">本を整理して２重買いを防ごう！！！</p>
                    <img id="contents-img" src="/static/img/home/contents-img.png">
                </div>
                <form class="col-sm-6" action = "/login" method="POST">
                    <div>
                        <div class="myform form-group row">
                            <label for="id_input" class="col-md-3">ID</label>
                            <input id="id_input"class="form-control col-md-9" type="text" name="MailAddress" value="" placeholder="登録時のメールアドレスを入力してください。">
                            {{ if .Message.mail}}
                                {{ range .Message.mail }}
                                    <p class="text-danger">{{.}}</p>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="myform form-group row">
                            <label for="pw_input" class="col-md-3">パスワード</label>
                            <input id="pw_input" class="form-control col-md-9" type="password" name="Password" value="" placeholder="">
                            {{ if .Message.password}}
                                {{ range .Message.password }}
                                    <p class="text-danger">{{.}}</p>
                                {{ end }}
                            {{ end }}
                            {{ if .Message.sokan}}
                                {{ range .Message.sokan }}
                                    <p class="text-danger">{{.}}</p>
                                {{ end }}
                            {{ end }}
                        </div>
                        <button type="submit" id="login-button" class="form-control">ログイン</button>
                        <a id="new-account-link" href="/user/regist">新規アカウントの作成</a>
                    </div>
                </form>
            </div>
        </article>
    </main>
{{template "footer.html" .}}