<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Book List</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
</head>
<body>
  <!-- ヘッダー -->
  <nav class="navbar navbar-default mb-3">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/book">みんなの本棚</a>
      </div>
      {{ if .LoginFlag }}
      <div id="nav-info">
        <div id="nav-for-pc">
          <a href="/logout" class="btn btn-primary text-white">ログアウトする</a>
          <a href="/book/regist" class="btn btn-primary text-white">本を登録する</a>
        </div>
        <img id="icon" src="/static/img/icon/human.png">
        <div id="nav-for-sp">
          <a href="/user/edit" class="btn btn-primary text-white d-block mb-3">ユーザ情報を編集する</a>
          <a href="/book/regist" class="btn btn-primary text-white d-block mb-3">本を登録する</a>
          <a href="/logout" class="btn btn-primary text-white d-block">ログアウトする</a>
        </div>
      </div>
      {{ end }}
    </div>
  </nav>